## Python Functions

Functions in Python are blocks of **reusable** code that can be **called** to perform specific tasks.
They allow you to;
* organize your code
* make it more modular
* and avoid redundant code.

### Defining a Function

Functions are defined using the "def" keyword followed by the function name and parentheses containing optional parameters.

In [ ]:
# Defining a Function
def greet(name):
  age = 18
  print(f"Hello, {name}")

### Using a Function (Function Call)

In [ ]:
# Function name
greet("Joy")

Hello, Joy

### Function Parameters

Two Types:

**Required Parameters:**
Parameters that must be provided during function call.

**Default Parameters:**
Parameters with default values. If not provided during the function call, the default values are used.

In [ ]:
# Required Parameters
def cube(x):
  return x ** 3

In [ ]:
cube_value = cube(3)
print(cube_value)

27

In [ ]:
# Default Parameters
def power(value, power_value=1):
  return value ** power_value

print(power(3, 3))

27

### Return Statement

Functions can return values using the "*return*" statement.

In [ ]:
# Return Statement
def cube(x):
  return x ** 3

print(cube(2))

8

### Scope of Variables

Variables defined inside a function are local to the function and **cannot** be accessed outside it. Variables defined outside the function are global.

In [ ]:
# Global and Local Variables
y = 2
def cube(x):
  results = x ** 3 # Local Variable
  return results

print(y) # Global Variable

2

### Recursive Functions

Functions that call themselves.

In [ ]:
# Recursive Functions
def factorial(n):
  if n == 0:
    return 1
  else:
    return n*factorial(n-1)

factorial(3)

6

### Lambda Functions (Anonymous Functions)

Functions without a name. Often used for short tasks.

In [ ]:
# Lambda Function
subtraction = lambda a, b: a - b
print(subtraction(6,3))

3

### Some notable built-in functions in Python

***print():*** Display output to the console.

***len():*** Returns the length of a sequence (string, list, tuple, etc.).

***Input():*** Reads user input from the console.

***Range():*** Generates a sequence of numbers.

***Type():*** Returns the type of an object.

***max() and min():*** Returns the maximum and minimum value from a sequence.

***Sum():*** Returns the sum of elements in a sequence.

In [ ]:
# print()

In [ ]:
# len()

In [ ]:
# input()

In [ ]:
# range()

In [ ]:
# type()

In [ ]:
# max()

In [ ]:
# min()

In [ ]:
# Sum()